# Copy this file to .env.local for local development
# Add this variable to Vercel Environment Variables for production

MONGODB_URI=mongodb+srv://arstoysadmin:BtMGWiNTOOmWTZer@cluster0.qbapye8.mongodb.net/ars-toys?retryWrites=true&w=majority&appName=Cluster0
